/** general styles, helpers */
body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  background: #2c3338;
  color: #9a9fa5;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.red {
  color: #ff5252;
}

.hidden {
  display: none;
}

input, textarea, select {
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

/** header && navigation */
nav {
  width: 100%;
  height: 50px;
  background-color: #ff5252;
  position: fixed;
  top: 0;
}

nav a:hover {
  color: #2c3338;
  font-weight: bold;
  text-decoration: line-through;
}

.logo h1 a {
  color: #fff;
  float: left;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px 25px;
}

.menu {
  display: flex;
  float: right;
  margin-top: 15px;
}

.menu a {
  margin-right: 30px;
  color: #fff;
}

.menu a.selected {
  color: #2c3338;
  text-decoration: line-through;
  font-weight: bold;
}

.menu p.welcome {
  margin-top: 0px;
  margin-right: 20px;
  font-weight: bold;
  color: #2c3338;
}

/* intro section */
.intro-logged, .intro-not-logged {
  height: 300px;
  margin-top: 70px;
  text-align: center;
}

.intro-logged h2, .intro-not-logged h2 {
  font-weight: 400;
  letter-spacing: 2px;
}

.intro-logged a, .intro-not-logged a {
  color: #fff;
}
.intro-logged a:hover, .intro-not-logged a:hover {
  color: #ff5252;
}

.last-seen {
  margin-top: 40px;
  display: flex;
}

.movie-thumb {
  margin-left: 50px;
  background: #414446;
  width: 250px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.movie-thumb .first-detail-row {
  margin: -2px 0px -3px 0px;
  display: flex;
  align-items: baseline;
}

.movie-thumb div:not(.movies-actions):not(.movie-cover):not(.first-detail-row):not(.hover-movie-detail) {
  display: flex;
  align-items: baseline;
  margin: -5px 20px;
}

.movie-thumb div span {
  margin-right: 5px;
  color: #ff5252;
}

.movie-cover {
  height: auto;
}

.movie-cover img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.movie-rating {
  padding-bottom: 5px;
}

.hover-movie-detail {
  display: none;
}

.movie-thumb:hover .hover-movie-detail {
  display: block;
  background: #414446;
  width: 250px;
  height: 450px;
  font-size: 20px;
}

.movies-actions {
  margin-top: 30px;
  margin-bottom: 10px;
}

.movies-actions a:hover {
  color: #fff;
}

.movies-actions button {
  background-color: #ff5252;
  border: #ff5252;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 15px;
}

.movies-actions button:hover {
  background-color: #909090;
}

.intro-not-logged {
  margin-top: 150px;
}

.intro-not-logged .fa {
  font-size: 70px;
  color: #ff5252;
  margin: 10px 15px;
}

.login-register a {
  color: #ff5252;
  font-weight: bold;
}

.login-register a:hover {
  color: #909090;
}

/** login, register, add a movie form */
.login-register-form, .add-movie-form {
  margin-top: 100px;
  text-align: center;
}

.add-movie-form {
  margin-top: 50px;
}

.login-register-form form {
  margin-top: 80px;
}

.add-movie-form form {
  margin-top: 50px;
}

.login-register-form div, .add-movie-form div {
    height: 60px;
    width: 400px;
    margin: 0 auto;
    font-size: 18px;
}

.login-register-form label, .add-movie-form label {
  padding: 16px 20px;
  background: #363b41;
  font-size: 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.add-movie-form label {
  padding: 15px 20px;
}

.login-register-form input:not(.register), .add-movie-form input:not(.add), .add-movie-form textarea {
  padding: 15px 20px;
  background: #3b4148;
  color: #fff;
  font-size: 15px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 240px;
}

.add-movie-form .description {
  display: flex;
  height: 90px;
  width: 300px;
}

.add-movie-form .description span {
  line-height: 45px;
}

.add-movie-form .description label {
  height: 48px;
  width: 18px;
}

.add-movie-form textarea {
  height: 78px;
}

.add-movie-form select {
  height: 48px;
  width: 240px;
  background: #3b4148;
  color: #717572;
  font-size: 15px;
  -webkit-appearance: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 22px;
}

.add-movie-form .cover input {
  color: #717572;
  height: 48px;
  padding: 11px 18px;
}

.login-register-form .submit input, .add-movie-form .submit input {
  margin-top: 10px;
  background: #ff5252;
  color: #fff;
  padding: 15px 103px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.login-register-form .submit input:hover, .add-movie-form .submit input:hover {
  background: #909090;
}

.login-register-form p {
  margin-top: 10px;
}

.login-register-form a {
  color: #fff;
}

.login-register-form a:hover{
  color: #ff5252;
}