/** general styles, helpers */
body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  background: #2c3338;
  color: #9a9fa5;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.red {
  color: #ff5252;
}

.hidden {
  display: none;
}

input {
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

/** header && navigation */
nav {
  width: 100%;
  height: 50px;
  background-color: #ff5252;
  position: fixed;
  top: 0;
}

nav a:hover {
  color: #2c3338;
  font-weight: bold;
  text-decoration: line-through;
}

.logo h1 a {
  color: #fff;
  float: left;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px 25px;
}

.menu {
  display: flex;
  float: right;
  margin-top: 15px;
}

.menu a {
  margin-right: 30px;
  color: #fff;
}

.menu a.selected {
  color: #2c3338;
  text-decoration: line-through;
  font-weight: bold;
}

.menu p.welcome {
  margin-top: 0px;
  margin-right: 20px;
  font-weight: bold;
  color: #2c3338;
}

/* intro section */
.intro-logged, .intro-not-logged {
  height: 300px;
  margin-top: 70px;
  text-align: center;
}

.intro-logged h2, .intro-not-logged h2 {
  font-weight: 400;
  letter-spacing: 2px;
}

.intro-logged a, .intro-not-logged a {
  color: #fff;
}
.intro-logged a:hover, .intro-not-logged a:hover {
  color: #ff5252;
}

.last-seen {
  margin-top: 40px;
  display: inline-flex;
}

.movie-thumb {
  margin-left: 50px;
  border: 2px solid #ff5252;
  padding: 30px;
  width: 150px;
  height: 300px;
  border-radius: 3px;
}
.movie-thumb:hover {
  background-color: #ff5252;
}

.movie-cover img {
  width: 150px;
  height: 200px;
}

.movies-actions {
  margin-top: 30px;
}

.movies-actions a:hover {
  color: #fff;
}

.movies-actions button {
  background-color: #ff5252;
  border: #ff5252;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 15px;
}

.movies-actions button:hover {
  background-color: #909090;
}

.intro-not-logged {
  margin-top: 150px;
}

.intro-not-logged .fa {
  font-size: 70px;
  color: #ff5252;
  margin: 10px 15px;
}

.login-register a {
  color: #ff5252;
  font-weight: bold;
}

.login-register a:hover {
  color: #909090;
}

/** login form */
.login-register-form {
  margin-top: 100px;
  text-align: center;
}

.login-register-form form {
  margin-top: 80px;
}

.login-register-form .username, .login-register-form .password,
.login-register-form .email, .login-register-form .repeat-password {
    height: 60px;
    width: 400px;
    margin: 0 auto;
    font-size: 18px;
}

.login-register-form .username label, .login-register-form .password label,
.login-register-form .email label, .login-register-form .repeat-password label {
  padding: 15px 20px;
  background: #363b41;
  font-size: 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.login-register-form .username input, .login-register-form .password input,
.login-register-form .email input, .login-register-form .repeat-password input {
  padding: 15px 20px;
  background: #3b4148;
  color: #fff;
  font-size: 15px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 240px;
}

.login-register-form .submit input {
  margin-top: 10px;
  background: #ff5252;
  color: #fff;
  padding: 15px 103px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.login-register-form .submit input:hover {
  background: #909090;
}

.login-register-form p {
  margin-top: 10px;
}

.login-register-form a {
  color: #fff;
}

.login-register-form a:hover{
  color: #ff5252;
}